/*
Theme Name: Góc Ham Học
Theme URI: 
Author: HTM Groups
Author URI: 
Description: Website about blog news for education.
Version: 1.0
License: 
License URI:
Text Domain:

*/
@font-face {
font-family:font_normal;
src:url('assets/fonts/AndesRounded1.otf') format('truetype'),
url('assets/fonts/AndesRounded1.otf') format('otf');
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:font_bold;
src:url('assets/fonts/AndesRoundedBold1.otf') format('truetype'),
url('assets/fonts/AndesRoundedBold1.otf') format('otf');
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:font_extra_bold;
src:url('assets/fonts/AndesRoundedExtraBold1.otf') format('truetype'),
url('assets/fonts/AndesRoundedExtraBold1.otf') format('otf');
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:font_light;
src:url('assets/fonts/AndesRoundedLight1.otf') format('truetype'),
url('assets/fonts/AndesRoundedLight1.otf') format('otf');
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:font_utm;
src:url('assets/fonts/UTM_Duepuntozero.ttf') format('truetype'),
url('assets/fonts/UTM_Duepuntozero.ttf') format('ttf');
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:font_utm_bold;
src:url('assets/fonts/UTM_DuepuntozeroBold.ttf') format('truetype'),
url('assets/fonts/UTM_DuepuntozeroBold.ttf') format('ttf');
font-weight:normal;
 font-style:normal;
}
html {
	font-family: font_normal;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: content-box;

}
body {
	margin: 0px;
	font-family: font_normal;
	color: #333333;
}
ul,li {
	list-style: none;
}

ul,li,a,p,h1,h2,h3,h4,h5,h6 {
	margin: 0px;
	padding: 0px;
}

a:hover{
	text-decoration: none;
	color: #e91b22;
}
/*
	Theme code By Minh Nguyen and Tai Tuan
*/
ul,li {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}
a:hover {
	text-decoration: none;
}
h1,h2,h3,h4,h5 {
	text-transform: uppercase;
    color: #245A74;
}
.row { 
	margin:0px;
}
.header {
	width: 100%;
	position: fixed;
	height: 120px;
	z-index: 999;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.7);
}
.header-active {
	height: 50px !important;
}
.menu-header-active {
	margin-top: 0px !important;
	    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.search-header-active {
	margin-top: 8px !important;
	    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.headerbox_active {
	box-shadow: 1px 0px 3px #000;
	    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#logo-img {
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    float: left;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    text-align: center;
    height: 120px;
}
.menu-header {
	margin-top: 30px;
	    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
}
.menu-header ul {

}
.menu-header > ul > li {
	display: inline-block;
	position: relative;
}
.menu-header > ul > li > a >.menu-item  {
    color: #245A74;
    display: block;
    text-decoration: none;
    padding: 10px;
    outline: none;
    text-align: center;
    font-size: 1.1vw;
    font-weight: bold;
    text-transform: uppercase;
}
.menu-header > ul > li:hover > a > .menu-item {
	color: #F59630;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom: 2px solid #F59630;
   
}

.sub-menu {
    position: absolute;
    left: 0;
    border-radius: 0;
    padding: 0;
    margin-top: 0px;
     display: none; 
    width: 220px;
    box-shadow: 0px 3px 3px #000;
    background-color: #f1f1f1;
}
.sub-menu li {
	padding: 10px;
    border-bottom: 1px solid;
}
.sub-menu .menu-item {
	color: black;
}
.sub-menu > li:hover {
	border-bottom: 1px solid #F59630;
}
.sub-menu > li:hover > a > .menu-item{
	color: #F59630 !important;
}
.menu-header > ul > li:hover > .sub-menu {
	 display: block;
}
.search-header {
	margin-top: 30px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.search-header__input {
	border: 1px solid antiquewhite;
}
.search-header form {
	position: relative;
}
.search-header__input {
	border-radius: 5px;
	padding: 5px;
	outline: none;
}
.search-header__submit {
	position: absolute;
	background:url(img/search-icon.png) no-repeat center center;
	width: 18%;
	height: 18px;
	background-size: auto 70%;
	border: 0px;
	top: 5px;
	right: -10px;
}

/* Main Page */
.main-page {

}
.section {
	margin-bottom: 50px;
}
.section h2 {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}
.section hr {
	width: 3%;
	border: solid 2px #245A74; 
}
.section img {
	width: 100%;
	height: 150px;	
}

.section-1_list--thumbnail {
    overflow: hidden;
}
.section-1_list--thumbnail a img {
	width: 100%;
}
.section-1_list--title {
    text-align: center;
    font-size: 20px;
    margin-top: 18px;
    height: 50px;
}
.section-2_list--item---thumbnail img{
	border-radius: 100px;
}
.section-2_list--item---thumbnail {
	margin-bottom: 20px;
}
.section-2_list--item---text----title {
	font-size: 16px;
}
.section-3_list--item---title {
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
	text-align: center;

}
.section-3_list--item---title a {
	color: #1E5671;
}
.section-3_list--item---title a:hover {
	color: #F5872C;
}
.section-3_list--item---content {
	font-size: 15px;
	margin-top: 10px;
}
.section-2_banner img {
	height: 500px;
}
.hover-blur {
	    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}
.hover-blur:hover {
	transform: scale(1.5);
}
.thumbnail {
	cursor: pointer;
}

.wrapper-single-post {
	padding-top: 120px;
}

.breadcumb {
	padding: 10px;
	border-bottom: solid 1px #ECCF2F;
	font-size: 14px;
	margin-bottom: 10px;
}

.menu-detail-single-post {
	background: #f1f1f1;
}

.menu-detail-single-post li {
	display: inline-block;
	padding: 20px 30px;
}
.detail-single-post img {
	width: 100%;
}
.footer {
	border-top: solid 3px #1688c5;
    padding-top: 30px;
}
.flex-direction-nav .flex-next {
	right: 50px !important;
}
.flex-direction-nav .flex-prev {
	left: 50px !important;
}
.as-query  {
	padding-top: 150px;
}
.as-query-item img {
	width: 100%;
	height: 150px;
}
.as-query-title {
	margin-bottom: 10px;
}
.as-query-item h3 {
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
}
.as-query-item p {
	font-size: 14px;
	margin-top: 10px;	
}

.category  {
	padding-top: 150px;
}
.category-item img {
	width: 100%;
	height: 150px;
}
.category-title {
	margin-bottom: 10px;
}
.category-item h3 {
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
}
.category-item p {
	font-size: 14px;
	margin-top: 10px;	
}
.header-single-post  img {
	width: 100%;
}
@media only screen and (min-width: 1000px){
	.slider  {
		/*width: 100px;*/
	}
}